*, *::before, *::after {
    box-sizing: border-box;
}

/* Custom Properties */

:root{
    --clr-primary-light: #585870;
    --clr-primary-dark: #05041f;
    --clr-accent-light: #009468;
    --clr-accent-dark: #0a2f94;
    --clr-neutral-light: #bfbfbf;
    --clr-neutral-dark: #3e3efa;
    
    --ff-cta: 'Raleway', sans-serif;
    --ff-body: 'Open Sans', sans-serif;

    --fs-h1: 1.8rem;
    --fs-h2: 1.2rem;

    --fw-regular: 400;
    --fw--bold: 700;
   
    --bs: .25em .25em .75em rgba(0,0,0,.25), 
        .125em .125em .25em rgba(0,0,0,.15);
}

/* General styles */

body{
    margin: 0;
    font-family: var(--ff-body);
    font-weight: var(--fw-regular);
    font-size: 1rem;
    line-height: 1.6;

}

h1,
h2 {
    margin-bottom: 1em;
    font-weight: var(--fw--bold);
    font-family: var(--ff-body);
    line-height: 1.5;
}

h1{
    font-size: var(--fs-h1);
}

h2{
    font-size: var(--fs-h2);
}

p{
    margin:0;
    margin-bottom: 1em;
}

img{
    display: block;
    max-width: 100%;
}

header{
    text-align: center;
    
}

a{
    text-decoration: none;
}

a:hover,
a:focus{
    opacity: .6;
}

:focus{
    outline: 3px solid var(--clr-accent-light);
    outline-offset: 2px;
}

.logo{
    align-self: center;
}

.logo-img{
    height: 40px;
    margin-top: 1em;
}

.curved-line-bg{
    width: 100vw;
}

a.testimonial-link{
    color: var(--clr-accent-light);
    padding: .3em 0;
    border-bottom: 1px solid var(--clr-accent-light);
    margin: 0 auto 2em auto;
}

.testimonial-link::after{
    content: "";
    width: 1.5em;
    height: 1.5em;
    background: url(../images/icon-arrow.svg) no-repeat;
    background-size: cover;
    position: relative;
    top: 6px;
    left: 3px;
    display: inline-block;
}

.nav{
    width: 100%;
    margin-top: 1em; 
    background: var(--clr-primary-light);
}

.nav-toggle{
    border: 0;
    width: 2.7em;
    height: 2.7em;
    padding: 0;
    border-radius: 3px;
    background-color: var(--clr-primary-light);
    color: var(--clr-neutral-light);
    transition: opacity 250ms ease-in-out;
    position: absolute;
    left: 10px;
    top: 10px;

}

.nav-toggle:focus,
.nav-toggle:hover {
    opacity: .6;
}

.hamburger{
    width: 50%;
    position: relative;

}

.hamburger,
.hamburger::before,
.hamburger::after{
    display: block;
    margin: 0 auto;
    height: 3px;
    background: #FFF;
}

.hamburger::before,
.hamburger::after{
    content: "";
    width: 100%;
}

.hamburger:before{
    transform: translateY(-6px);
}

.hamburger:after{
    transform: translateY(3px);
}

.nav{
    visibility: hidden;
    height: 0;
    position: relative;
    font-size: 1rem;
}

.nav-list{
    list-style: none;
    margin: 0;
    padding: .5em 0;
}

.nav-item {
    margin-top: 1em;
}

.nav-link{
    text-transform: uppercase;
    color: #FFF;
}

.nav-visible{
    visibility: visible;
    height: auto;
    position: relative;
}

/* Layout */
.container {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;

}

.d-flex{
    display: flex;
    flex-direction: column;
}

section{
    padding: 5em 0;
}

.section-cta,
.section-subtitle{
    text-align: center;
}

.section-testimonial{
    background-color: #F8F8FE;
    color: var(--clr-primary-light);
}

.section-testimonial h2{
    color: var(--clr-primary-dark);
}

.cta-img{
    order: -1;
    margin-bottom: 4em;
}

.section-cta-narrow{
    background-color: var(--clr-primary-light);
    color: #FFF;
    text-align: center;
}

.testimonial-primary{
    display: flex;
    flex-direction: column;
}

/* forms */
.cta-input,
.cta-btn{
    font-family: var(--ff-cta);
    width: 100%;
    margin-bottom: 1.5em;
    padding: 1em 2.5em;
    border: 1px solid var(--clr-primary-dark);
    border-radius: 3px;
    
}

.cta-input{
    margin-top: 1.5em;
    
}

.cta-btn{
    border: 0;
    background-color: var(--clr-neutral-dark);
    font-weight: var(--fw--bold);
    color: #FFF;
    letter-spacing: 1px;
    box-shadow: var(--bs);
    transition: opacity 250ms ease-in-out;
}

.cta-btn:focus,
.cta-btn:hover{
    opacity: .7;
}

/* testimonial card */
.testimonial-card{
    background-color: #FFF;
    width: 90%;
    margin: 2em auto 0 auto;
    padding: 1.5em 2em;
    border-radius: 5px;
    box-shadow: var(--bs);
}

.quotes{
    height: 1em;
    margin: .5em 0;
    
}

.card-text{
    font-size: .775rem;
    line-height: 2;
}

.avatar-details{
    padding-left: 1em;
}

.avatar-img{
    max-width: 40px;
    width: 100%;
    border-radius: 50%;
}

.avatar-name{
    font-size: .775rem;
    font-weight: var(--fw--bold);
    margin: 0;
}

.avatar-job-info{
    font-size: .6rem;
    margin: 0;
}

.card-flex{
    flex-direction: row;
}

/* footer */
footer{
    background-color: var(--clr-primary-dark);
    color: #FFF;
}

.footer-link{
    display: block;
    color: #FFF;
    line-height: 3;
        
}

.footer-img{
    padding: 3em 0;
    width: 200px;
}

.col {
    margin-top: 2em;
}

.phone-number{
    margin: 0;
}

.phone-number::before,
.email::before{
    content: "";
    display: inline-block;
    width: 2em;
    height: 2em;
    position: relative;
    top: 1.2em;
    background-size: cover;
}

.phone-number::before{
    background: url(../images/icon-phone.svg) no-repeat;
}

.email::before{
    background: url(../images/icon-email.svg) no-repeat;
}

.social-icons{
    flex-direction: row;
    width: 100%;
    justify-content: center;
    gap: .7em;
    font-size: 1.5em;
    line-height: 1;
}

.attribution{
    margin: 0;
    font-size: .9rem;
    text-align: center;
    padding: 4em 0;

}

.attribution a{
    color: var(--clr-accent-light);
    
}

@media (min-width: 800px) {

    /* layout */
    .d-flex{
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }

    /* navigation */
    .nav-toggle{
        display: none;
    }

    .nav{
        visibility: visible;
        display: flex;
        flex-direction: row;
        height: auto;
        width:50%;
        align-items: center;
        justify-content: flex-end;
        background: transparent;
        
    }

    .nav-list{
        display: flex;
        margin: 0;

    }

    .nav-item{
        align-items: center;
        margin: 0;
        padding-left: 3em;
        
    }

    .nav-link{
        color: var(--clr-primary-dark);
        text-transform: none;
    }

    /* sections cta */
    .cta-primary,
    .testimonial-primary,
    .cta-narrow-primary{
        order: -1;
        width: 40%;
        text-align: left;
        
    }

    .cta-img{
        width: 45%;
    }

    .cta-form{
        text-align: left;
        width: 100%;
    }

    .cta-narrow{
        width: 45%;
    }

    .cta-btn{
        width: auto;
        
        
    }
    .cta-input{
        width: 100%;
        margin-right: 1em;
    }

@media (min-width: 1175px){
    .cta-input{
        width: 60%;
    }
    
    .input-wide{
        width: 100%;
    }
        
}

    /* footer */
    .col{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 25%;
        margin: 0;
        
        
    }

    .col + .col{
        padding-left: 6rem;
    }

    .social-icons{
        flex-direction: row;
        justify-content:left;
        
    }

    .footer-img{
        padding: 2em 0;
    }
}


