/*  font-family: 'Open Sans', sans-serif;
    font-family: 'Raleway', sans-serif; */

*, *::before, *::after {
    box-sizing: border-box;
}

/* Custom Properties */

:root{
    --clr-primary-light: #585870;
    --clr-primary-dark: #05041f;
    --clr-accent-light: #009468;
    --clr-accent-dark: #0a2f94;
    --clr-neutral-light: #bfbfbf;
    --clr-neutral-dark: #3e3efa;
    
    --ff-cta: 'Raleway', sans-serif;
    --ff-body: 'Open Sans', sans-serif;

    --fs-h1: 1.8rem;
    --fs-h2: 1.2rem;

    --fw-regular: 400;
    --fw--bold: 700;
   
    --bs: .25em .25em .75em rgba(0,0,0,.25), 
        .125em .125em .25em rgba(0,0,0,.15);
}

/* General styles */

body{
    margin: 0;
    font-family: var(--ff-body);
    font-weight: var(--fw-regular);
    font-size: 1rem;
    line-height: 1.6;

}

h1,
h2 {
    margin: 0 0 1em 0;
    font-weight: var(--fw--bold);
    font-family: var(--ff-body);
    line-height: 1.5;
}

h1{
    font-size: var(--fs-h1);
}

h2{
    font-size: var(--fs-h2);
}

p{
    margin:0;
    margin-bottom: 1em;
}

img{
    display: block;
    max-width: 100%;
}

.curved-line-bg{
    width: 100vw;
}

.testimonial-primary{
    display: flex;
    flex-direction: column;
}

a.testimonial-link{
    color: var(--clr-accent-light);
    text-decoration: none;
    padding: .5em 0;
    border-bottom: 1px solid var(--clr-accent-light);
    margin: 0 auto 2em auto;
    
     
}

.testimonial-link::after{
    content: "";
    /* border: 1px solid magenta; */
    
    width: 1.5em;
    height: 1.5em;
    background: url(../images/icon-arrow.svg) no-repeat;
    position: relative;
    top: 6px;
    left: 5px;
    display: inline-block;
    background-size:cover;
      
}

.testimonial-link:focus,
.testimonial-link:hover{
    opacity: .6;
    
}




/* Layout */
.container {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;

}

.d-flex{
    display: flex;
    flex-direction: column;
}

section{
    padding: 5em 0;
}

.section-cta,
.section-subtitle{
    text-align: center;
}

.section-testimonial{
    background-color: #F8F8FE;
    color: var(--clr-primary-light);
}

.section-testimonial h2{
    color: var(--clr-primary-dark);
}

.cta-img, 
.testimonial-img{
    order: -1;
    margin-bottom: 4em;
}

.section-cta-narrow{
    background-color: var(--clr-primary-light);
    color: #FFF;
    text-align: center;
}

footer{
    background-color: var(--clr-primary-dark);
}

/* forms */
.cta-input,
.cta-btn{
    display: inline-block;
    font-family: var(--ff-cta);
    width: 100%;
    max-width: 375px;
    margin-bottom: 1.5em;
    padding: 1em 1.5em;
    border: 1px solid var(--clr-primary-dark);
    border-radius: 3px;
    
}

.cta-input{
    margin-top: 1.5em
}

.cta-btn{
    border: 0;
    background-color: var(--clr-neutral-dark);
    font-weight: var(--fw--bold);
    color: #FFF;
    letter-spacing: 1px;
    box-shadow: var(--bs);
    transition: opacity 250ms ease-in-out;
}

.cta-btn:focus,
.cta-btn:hover{
    opacity: .7;
}

/* testimonial card */
.testimonial-card{
    background-color: #FFF;
    width: 90%;
    margin: 2em auto 0 auto;
    padding: 1.5em 2em;
    border-radius: 5px;
    box-shadow: var(--bs);
}

.quotes{
    height: 1em;
    margin: .5em 0;
    
}

.card-text{
    font-size: .775rem;
    line-height: 2;
}

.avatar-details{
    padding-left: 1em;
}

.avatar-img{
    max-width: 40px;
    width: 100%;
    border-radius: 50%;
}

.avatar-name{
    font-size: .775rem;
    font-weight: var(--fw--bold);
    margin: 0;
}

.avatar-job-info{
    font-size: .6rem;
    margin: 0;
}

.card-flex{
    flex-direction: row;
}